* {
  margin: auto;
  padding: 0.3%;
  box-sizing: border-box;
}
.flex-container {
  background-color: rgb(168, 135, 199);
  border: 10px solid #933cce;
  display: inline-flex;
  height: 90vh;
  flex-direction: column;
  font-size: small;
}
.cities {
  display: none;
}
.active.cities {
  display: inline-block;
}
.text-success {
  color: #28a745;
}
.text-danger {
  color: #dc3545;
}
body {
  overflow: hidden;
  text-align: center;
}
input:invalid {
  border: 2px solid red;
}

input:valid {
  border: 2px solid green;
}
form {
  height: 450px;
  overflow-y: auto;
  position: relative;
}
input::placeholder {
  font-size: 0.8rem;
}
button{ margin-bottom: 0;}
